body {
    margin: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}


.node.node--root {
    user-select: none;
}

.node.node--root ul {
    padding-left: 30px;
    list-style-type: none;
}


.caption {
    position: relative;
    padding: 8px;
    line-height: 20px;
    cursor: pointer;
}

.caption:hover {
    background-color: #ffc;
}

.node.node--selected .caption {
    background-color: #ddf;
}

.node.node--leaf > .caption {
    color: blue;
}


.node.node--branch > .caption::before {
    position: absolute;
    left: -10px;
    content: "";
    opacity: 0.5;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 6px solid black;
    transform: translateY(30%);
    transition: all 0.3s;
}

.node.node--branch.node--active > .caption::before {
    opacity: 1;
    transform: rotate(90deg) translateX(60%) translateY(30%);
}
