body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
}


.l-row {
    margin-top: 15px;
    margin-bottom: 15px;
}


.u-highlighted { box-shadow: inset 0 0 20px 20px #ccc5 }

.u-pre { white-space: pre }


.ui-dialog {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.ui-dialog .ui-dialog-content { overflow: visible !important }


.spacer {
    display: inline-block;
    width: 30px;
}

.spacer--small { width: 10px }


.input {
    display: inline-block;
    padding: 0.34em;
}


.main {
    display: flex;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}


.panel-bar {
    width: 250px;
    flex-shrink: 0;
    overflow-x: auto;
}

.panel-bar .k-panel > .k-item { margin-left: 1.5em !important }

.panel-bar .k-link {
    padding: 0.6em 1.5em 0.6em 0.6em !important;
    line-height: 1.4em !important;
    border-bottom: 1px solid #ccc !important;
}

.panel-bar .k-link.k-state-selected { background-color: #def !important }

.panel-bar__item {
    padding: 10px;
    margin-bottom: 4px;
}


.content {
    overflow-x: auto;
    padding: 0 15px;
    min-width: 400px;
}
