body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.l-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.u-highlighted { box-shadow: inset 0 0 20px 20px #ccc5 }

.u-dark { background-color: #eee }

.u-pre { white-space: pre }

.ui-tabs .ui-tabs-panel { padding: 3px 0 0 0 !important }

.tab-widget__tab-btn-anchor { padding-right: 0.2em !important }

.tab-widget__tab-close-btn { cursor: pointer }

.ui-dialog {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.ui-dialog .ui-dialog-content { overflow: visible !important }

.popup-content { width: 600px !important }

.popup-content--narrow { width: 400px !important }


.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}


.top-pane {
    height: 50px;
    flex-shrink: 0;
}

.middle-pane {
    height: 50px;
    flex-shrink: 0;
}

.bottom-pane {
    display: flex;
    flex-shrink: 0; /* Experim. */
}


.funnel__left-sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.funnel__legend-label-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.funnel__legend-label-container--heading {
    font-weight: bold;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
}

.funnel__legend-label-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funnel__legend-label-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 10px;
}


.funnel__chart-container {
    position: relative;
    width: 50%;
    padding-bottom: 40%;
}

.funnel__chart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.funnel__chart-block-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.funnel__chart-block {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 120%;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}


.funnel__right-sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.funnel__right-sidebar-block {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funnel__right-sidebar-block--heading {
    font-weight: bold;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
}
