body {
    margin: 15px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/*.dataTables_scrollHead .dataTables_scrollHeadInner,
.dataTables_scrollHead .dataTables_scrollHeadInner table {
    width: 100% !important;
}*/

.dataTables_scrollBody tr {
    cursor: pointer;
}
