body {
    margin: 15px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.l-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.edit-item-field {
    width: 100%;
    height: 80px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}


.k-treeview.tree .k-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.k-treeview.tree .k-icon {}

.k-treeview.tree .k-checkbox-wrapper { margin-left: 4px }

/*.k-treeview.tree .k-top,
.k-treeview.tree .k-mid,
.k-treeview.tree .k-bot {
    display: flex;
    align-items: center;
}*/

.k-treeview.tree .k-in { white-space: normal !important }
